
.Viewed {
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
  }
  &__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: #130E22;
    opacity: 0.92;
    span {
      font-weight: 500;
      color: #7E50FE;
    }
  }
  .swiper-slide {
    width: 168px;
    &:first-child {
      margin-left: 16px;
    }
    &:last-child {
      margin-right: 16px;
    }
  }
  .Product {
    margin-top: 16px;
    margin-bottom: 12px;
  }
}