
.Schedule {
  background: #FFFFFF;
  box-shadow: 0 0 12px rgba(153, 153, 153, 0.25);
  border-radius: 12px;
  padding: 12px;
  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__title {
    display: flex;
    align-items: center;
    img {
      margin-right: 4px;
    }
    span {
      margin-left: 4px;
      font-weight: 600;
      font-size: 16px;
      color: #130E22;
      opacity: 0.92;
    }
  }
  &__link {
    font-size: 14px;
    color: #7E50FE;
    opacity: 0.92;
  }
  &__more {
    margin-top: 6px;
  }
  &__more-link {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    color: #7E50FE;
    align-items: center;
    img {
      margin-left: 4px;
    }
  }
}

.Schedule-item {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ECEBF1;
  &:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  &__data {
    display: flex;
    align-items: center;
  }
  &__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 130%;
    color: #130E22;
    opacity: 0.92;
    margin-bottom: 2px;
    &--disable {
      opacity: 0.2;
    }
  }
  &__apply {
    background: #7E50FE;
    border-radius: 4px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1;
    padding: 6px 8px;
    color: #fff;
  }
  &__button {
    margin-left: auto;
  }
  &__its-time {
    font-size: 12px;
    color: #7E50FE;
    line-height: 130%;
  }
  &__date {
    font-size: 12px;
    line-height: 130%;
    color: #67666C;
  }
  &__media {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      object-position: center;
    }
  }
  &__progress {
    background: #ECEBF1;
    margin: 4px 0 0 0;
    span {
      height: 2px;
      display: block;
      max-width: 100%;
      background: #7E50FE;
    }
  }
}