
.App-head {
  padding: 12px 16px;
  background: #7E50FE;
  display: flex;
  height: 80px;
  margin-bottom: 12px;
  align-items: center;
  img {
    display: block;
  }
  &--big {
    height: 190px;
    padding-bottom: 122px;
    margin-bottom: -110px;
  }
  &__back {
    flex-grow: 0;
    flex-shrink: 0;
    width: 74px;
  }
  &__title {
    margin: 0 auto;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
  }
  &__buttons {
    width: 84px;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }
  &__button {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    margin: 0 12px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}