
.ChatWidget {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 54px;
    display: flex;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
    &--active {
        opacity: 1;
        visibility: visible;
    }
}